.bg-inverse{
  background-color: #373a3c!important;
  color: #fff!important;
  border-bottom: 1px solid white;
}
@media (min-width:768px){
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}
.navbar{
  margin-bottom: 0;
  .navbar-toggle{
    border-color:white;
    .icon-bar{
      background-color:white;
    }
  }
  .navbar-brand{
    margin:0;
    text-transform: capitalize;
  }
}

#swords{
  padding-top:22px;
  #sword-list{
    padding-top:20px;
    border-top:1px solid black;
    .col-sm-6{
      border-bottom:1px solid black;
      padding-bottom:20px;
      margin-bottom:20px;
    }
  }
}

#keyboard{
  background-color: #191a1b!important;
  padding-top:22px;
  h5{
    color:white;
  }
  .btn{
    padding:8px 30px
  }
  row{
    position: relative;
    display: block;
    padding: 10px 0;
  }
  key{
    position: relative;
    text-align: center;
    float:left;
    div{
      display: inline-block;
      padding: 15px 30px;
      border: 1px solid #a09797;
    }
    h4{
      color:white;
      margin:0;
    }
    .activated{
      h4{
        color:#cc1d1d;
      }
      border:1px solid #980d0d;
    }
  }
  @media (max-width:768px){
    key{
      div{
        padding:5px 15px;
      }
    }
  }
}
