<nav class="navbar navbar-dark bg-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 class="navbar-brand">
        {{currentRoute}}
      </h1>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="swords" routerLinkActive="active">Sword</a>
        </li>
        <li>
          <a routerLink="keyboard" routerLinkActive="active">Keyboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet>
</router-outlet>
