.widget-header-title{
  text-align: center;
}
.bg-inverse {
  background-color: #373a3c !important;
  color: #fff !important;
  border-bottom: 1px solid white; }

@media (min-width: 768px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.navbar {
  margin-bottom: 0; }
  .navbar .navbar-toggle {
    border-color: white; }
    .navbar .navbar-toggle .icon-bar {
      background-color: white; }
  .navbar .navbar-brand {
    margin: 0;
    text-transform: capitalize; }

#swords {
  padding-top: 22px; }
  #swords #sword-list {
    padding-top: 20px;
    border-top: 1px solid black; }
    #swords #sword-list .col-sm-6 {
      border-bottom: 1px solid black;
      padding-bottom: 20px;
      margin-bottom: 20px; }

#keyboard {
  background-color: #191a1b !important;
  padding-top: 22px; }
  #keyboard h5 {
    color: white; }
  #keyboard .btn {
    padding: 8px 30px; }
  #keyboard row {
    position: relative;
    display: block;
    padding: 10px 0; }
  #keyboard key {
    position: relative;
    text-align: center;
    float: left; }
    #keyboard key div {
      display: inline-block;
      padding: 15px 30px;
      border: 1px solid #a09797; }
    #keyboard key h4 {
      color: white;
      margin: 0; }
    #keyboard key .wrong {
      border: 1px solid #980d0d; }
      #keyboard key .wrong h4 {
        color: #cc1d1d; }
    #keyboard key .activated {
      border: 1px solid #3dd816; }
      #keyboard key .activated h4 {
        color: #69bb1f; }
  @media (max-width: 768px) {
    #keyboard key div {
      padding: 5px 15px; } }
